/* Large screens */
@media only screen and (max-width: 1200px) {
    html, body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        background-color: rgb(247 211 242);
    }

    header nav {
        position: absolute;
        left: 120px;
    }

    header nav:last-child {
        position: absolute;
        right: 120px;
    }

    #bingo-card {
        position: relative;
        left: -50px;
        margin-top: 40px;
    }
    
    main {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 20px;
        background-color: rgb(247 211 242);
        min-height: calc(100vh - 120px);
    }
    
    #new-card-button {
        position: relative;
        left: -50px;
    }

    #numbers-clicked-container {
        flex-direction: row;
        position: relative;
        left: -50px;
        width: 750px;
    }
}

/* Medium screens */
@media only screen and (max-width: 844px) {
    header nav {
        position: absolute;
        left: 40px;
        font-size: 14px;
    }

    #bingo-profile button {
        width: 50px;
        height: 50px;
    }

    #bingo-instructions button {
        width: 50px;
        height: 50px;
    }

    #bingo-instructions img {
        width: 30px;
        height: 30px;
    }

    header nav:last-child {
        position: absolute;
        right: 40px;
        font-size: 14px;
    }

    header #star {
        margin: 5px 25px;
    }
}

/* Small screens */
@media only screen and (max-width: 390px) {
    header {
        width: 100%;
        min-width: 400px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    header h1 {
        font-size: 2rem;
        margin: 5px 10px;
    }

    header #star {
        font-size: 1.5rem;
        margin: 5px 10px;
    }

    header nav {
        position: absolute;
        left: 10px;
    }

    header nav:last-child {
        position: absolute;
        left: auto;
        right: 10px;
    }

    #bingo-profile button {
        width: 40px;
        height: 40px;
    }

    #bingo-instructions button {
        width: 40px;
        height: 40px;
    }

    #bingo-instructions img {
        width: 25px;
        height: 25px;
    }

    #bingo-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-top: 20px;
    }

    #bingo-card {
        position: relative;
        transform-origin: top center;
        margin-top: 0;
        left: 0;
        transform: scale(0.5);
    }

    #numbers-clicked-container {
        width: 90%;
        max-width: 380px;
        margin-top: -400px;
        left: 0;
        padding: 15px;
        flex-direction: column;
    }

    #numbers-clicked-container h2 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    #numbers-clicked-container #star {
        font-size: 1rem;
        margin: 0 5px;
    }

    #clicked-numbers-textarea {
        width: 100%;
        min-width: unset;
        height: 200px;
        font-size: 0.9rem;
    }

    #new-card-button {
        left: 0;
        margin-top: 50px;
        
    }
    
    #new-card-button {
        padding: 15px;
        font-size: 1.2rem;
    }
}