/* Large screens */
@media screen and (max-width: 1200px) {
    html, body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        background-color: rgb(247 211 242);
    }

    header nav {
        position: absolute;
        left: 120px;
    }

    header nav:last-child {
        position: absolute;
        right: 120px;
    }

    #bingo-card {
        position: relative;
        left: -50px;
        margin-top: 40px;
    }
    
    main {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 20px;
        background-color: rgb(247 211 242);
        min-height: calc(100vh - 120px);
    }
    
    #new-card-button {
        position: relative;
        left: -50px;
    }

    #numbers-clicked-container {
        flex-direction: row;
        position: relative;
        left: -50px;
        width: 750px;
    }
}

/* Medium screens */
@media screen and (max-width: 844px) {
    header nav {
        position: absolute;
        left: 40px;
        font-size: 14px;
    }

    #bingo-profile button {
        width: 50px;
        height: 50px;
    }

    #bingo-instructions button {
        width: 50px;
        height: 50px;
    }

    #bingo-instructions img {
        width: 30px;
        height: 30px;
    }

    header nav:last-child {
        position: absolute;
        right: 40px;
        font-size: 14px;
    }

    header #star {
        margin: 5px 25px;
    }
}

/* Small screens */
@media screen and (max-width: 400px) {
    header {
        width: 100%;
        min-width: 650px;
        font-size: 10px;
    }

    header h1 {
        font-size: 50px;
        position: relative;
        left: -10px;
    }

    header #star {
        margin: 5px 15px;
    }

    header nav {
        position: absolute;
        left: 20px;
    }

    header nav:last-child {
        position: absolute;
        right: 20px;
    }

    #bingo-card {
        position: relative;
        left: 65px;
        margin-top: -100px;
        transform: scale(0.75);
    }

    #numbers-clicked-container {
        position: relative;
        left: 65px;
        width: 560px;
        margin-top: -50px;
    }

    #new-card-button {
        position: relative;
        left: 65px;
        margin-top: 20px;
    }
}